.App {
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.conteneur {
  border: 1px solid black;
  margin: 20%;
  min-width: 400px;
  background-color: rgb(252, 252, 252);
}

.titreConteneur {
  margin-bottom: 20%;
  margin-top: 10%;
  letter-spacing: 2px;
}

.participant {
  margin: 10%;
}

.nomParticipant {
  font-size: 27px;
  font-weight: 600;
}

.resultatParticipant {
  font-size: 22px;
  font-weight: 400;
}
